
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.wrapper {
    display:flex;
    margin: 0 auto;
    max-width: 1400px;
    background-color: #faebd7;
}

#checkout-card {
    width: 275px;
    height: 550px;
    border: 1px solid black;
}


#main {
    margin: 0 auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 100%;
    height: 100vh;
    
}

.item-list {
    margin: 0 auto;
}