
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #242526;
}

.wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 1400px;
    background-color: #fff;
}

#checkout-card {
    width: 275px;
    height: 550px;
    border: 1px solid black;
}


#main {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    height: 100vh;
    overflow: auto;
}

#main::-webkit-scrollbar {
    display: none;
}

.list-container {
    margin: 0 auto;
    padding-top: 40px;
    padding-right: 40px;
    list-style-type: none;
}

.item-box {
    padding: 15px;
    border: 1px solid rgba(0,0,0,0.7);
    box-shadow: 5px 5px 12px 5px rgba(0,0,0,0.69);
    border-radius: 10px;
    margin-bottom: 15px;
}

.item-img {
    display: block;
    max-width: 200px;
    max-height: 200px;
    border-radius: 5px;
    background-color: lightgrey;
}
