
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Serif', sans-serif;
    background-color: #242526;
}

.wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 1400px;
    background-color: #fff;
    flex-direction: column;
}



#main {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    height: 100vh;
    overflow: auto;
    padding-bottom: 60px;
}

#main::-webkit-scrollbar {
    display: none;
}

.list-container {
    margin: 0 auto;
    padding-top: 40px;
    padding-right: 40px;
    list-style-type: none;
}

.item-box {
    padding: 15px;
    border: 1px solid rgba(0,0,0,0.7);
    box-shadow: 5px 5px 12px 5px rgba(0,0,0,0.69);
    border-radius: 10px;
    margin-bottom: 15px;
}

.item-img {
    display: block;
    max-width: 200px;
    max-height: 200px;
    border:3px solid rgba(0,0,0,0.69);
    border-radius: 5px;
}

/* checkout CSS starts here */
/* checkout CSS starts here */

#checkout-card {
    position: absolute;
    display:block;
    width: 100vw;
    max-width: inherit;
    border: 2px solid rgba(0,0,0,0.69);
    border-bottom: none;
    bottom: 0;
    margin-bottom: 0;
    z-index: 999;
    border-radius: 8px 8px 0 0;
    background: #fff;
    box-shadow: 5px 5px 12px 5px rgba(0,0,0,0.69);
}

.checkout-img {
    max-width: 50px;
    max-height: 50px;
}

.checkout-header {
    margin: 0 15px;
    padding: 1rem 0;
    font-size: 1rem;
    cursor: pointer;
    border-bottom: 1px solid rgba(0,0,0,0.4);
    border-shadow: 5px 5px 12px 5px rgba(0,0,0,0.69);
}

#checkout-content {
    height: 80vh;
    overflow: auto;
    transition-timing-function: ease-out;
    transition: 0.25s;
}

.checkout-list {
    list-style-type: none;
    padding: 0 15px;
}

.checkout-item {
    display: flex;
}

@keyframes fadeVisibility {
    0% { opacity: 0 }
    80% { opacity: 1 }
    100% { opacity: 0 }
}
